<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>File upload</title>
</head>
<body>
	<a href="/logout">Logout</a>
	<br>
	<a href="/password">Change password</a>
	<br>
	<br>
	<form enctype="multipart/form-data" id="form">
		File:
		<br>
		<input type="file" name="files" multiple>
		<br><br>
		<button type="submit">Upload</button>
	</form>
	<br>
	<span id="status">---</span>
	<h3>Files</h3>
	<div id="file-list"></div>
	<script src="js/axios.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>
